#PyTorch CPU 버전을 위한 인덱스 URL 설정
--extra-index-url https://download.pytorch.org/whl/cpu

#FastAPI 서버
fastapi
uvicorn
pydantic
dotenv

#LLM
torch
transformers
accelerate
peft
huggingface_hub
#양자화
bitsandbytes

#RAG - 임베딩 및 유사도 계산
sentence-transformers
scikit-learn
numpy
motor

#데이터베이스
pymongo

#autoencoder
tensorflow
pandas
scikit-learn
matplotlib
joblib