--extra-index-url https://download.pytorch.org/whl/cpu

torch
fastapi
uvicorn
pydantic
pymongo

# === 모델 로딩 및 임베딩 ===
huggingface_hub
sentence-transformers
llama-cpp-python==0.2.84

# === RAG 관련 ===
langchain==0.2.17
langchain-core==0.2.43
langchain-community==0.2.17
langchain-text-splitters==0.2.2
faiss-cpu

# === 유틸 ===
tqdm
numpy
transformers==4.57.1